<app-header></app-header>
<div class="center">
  <h1 i18n="selected">Has Seleccionado:</h1>
  <app-banner [img]="image" [text]="text" i18n-text="plastic"></app-banner>
  <div id="nether">
    <div class="blockline">
      <input #massInput (keyup)="calc()" placeholder="1" type="text"><label>kg</label>
    </div>
    <img src="assets/scale.png">
    <h4 i18n="earnings">Tu ganancia será de:</h4>
    <p id="earn">$<span id="money">{{price}}</span></p>
    <app-button (click)="setSesh()" [buttonConfig]="forwardConfig"></app-button>
  </div>
</div>


