.banner {
  color: white;
  background-color: #496225;
  padding: 1em;
  margin: 1em 0;
  width: 100vw;
  min-width: 100vw;
  text-align: center;
}

img {
  height: 3em;
  width: auto;
}

.blockline {
  display: flex;
  align-items: center;
  justify-content: center;
}

