<div class="center">
  <img id="logo" src="assets/logogreen.png" alt="logo">
  <h1> Bienvenido</h1>
  <p>Completa la info de tu perfil</p>
  <input placeholder="Nombre">
  <input placeholder="Telefono">
  <app-banner text="Direccion de la recoleccion"></app-banner>
  <input placeholder="Direccion linea 1">
  <input placeholder="Direccion Linea 2">
  <app-banner text="Cuenta a la que depositaremos"></app-banner>
  <input placeholder="Linea de Captura">
  <app-button [buttonConfig]="buttonConfig"></app-button>
</div>

