<ng-container *ngTemplateOutlet="buttonConfig['text'] ? text : image">
</ng-container>

<!-- Text Button -->
<ng-template #text>
  <button (mousedown)="toggleState()" (mouseup)="toggleState()" class="chunky {{buttonConfig.role}}" type="button">
    <a routerLink="{{buttonConfig.route}}" routerLinkActive="active">{{buttonConfig.text}}</a>
  </button>


</ng-template>

<!-- Image Button -->
<ng-template #image>
  <img [ngStyle]="buttonConfig.styles"
       [src]="buttonConfig.src"
       alt="">
</ng-template>
