<app-header></app-header>
<div class="center">
  <h3 i18n="donation helps">Tu donacion ayudará a:</h3>
  <a class="center" routerLink="/details" routerLinkActive="active">
    <!--    In an ideal world, this would be a select and you'd pick a cause. This world is not ideal though-->
    <p i18n="Cause | Details of the cause" id="cause">Construir Eco Ladrillos</p>
    <p i18n="Know more" id="muted">Conocer Mas</p>
  </a>
  <app-banner i18n-text="conf data" text="Confirma tus datos"></app-banner>
  <label i18n="address">Direccion:</label>
  <div class="blockline">
    <p>{{address}}
      <fa-icon [icon]="faEdit"></fa-icon>
    </p>
  </div>
  <label i18n="collection date">Fecha de recoleccion
    <fa-icon [icon]="faCal"></fa-icon>
  </label>
  <input type="date">
  <app-button [buttonConfig]="confirmButton"></app-button>
</div>
