<app-header></app-header>
<h1 i18n="my profile">Mi Perfil</h1>
<div id="profileblock">
  <div class="blockline">
    <fa-icon [icon]="faUser" id="usericon" size="1x"></fa-icon>
    <p i18n="username">{{username}}</p>
  </div>
  <div class="blockline">
    <h3 i18n="my address">Mi Direccion</h3>
    <fa-icon [icon]="faEdit" class="icon" size="1x"></fa-icon>
  </div>

  <div class="groupblock">
    <p>{{add1}}</p>
    <div class="blockline">
      <p>{{add2}}</p>
    </div>
    <p i18n="new add" id="muted"> + Agregar una direccion</p>
  </div>
  <div class="blockline">
    <h3 i18n="account">Mi cuenta</h3>
    <fa-icon [icon]="faEdit" class="icon" size="1x"></fa-icon>
  </div>
  <div class="groupblock">
    <p>{{card}}</p>
  </div>
</div>
<!--TODO No time to declare contribs. Next iterations-->
<app-banner text="0 contribuciones"></app-banner>
<div class="center">
  <app-button [buttonConfig]="confbutton"></app-button>
</div>
