h1{
  text-align: center;
}

.blockline{
  display: flex;
  align-items: center;
}

.icon{
  padding:0 1em;
}
#usericon{
  padding-right: 1em;
}
#profileblock{
  padding-left:  2.4em;
}

.groupblock{
  padding-left: 1em;
}

#muted{
  font-size: .9em;
  color: #496225;
}
