<app-header></app-header>
<div class="center">
  <h2 i18n="cause">Construccion de Eco Ladrillos</h2>
  <img [src]="src" style="width: auto; height: 6em">
  <div class="scrollable">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad exercitationem impedit necessitatibus non provident
      quod repudiandae, vel voluptatum? Ab architecto distinctio dolorem, expedita facilis iusto magnam officia quasi
      quod veniam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad exercitationem impedit necessitatibus non provident
      quod repudiandae, vel voluptatum? Ab architecto distinctio dolorem, expedita facilis iusto magnam officia quasi
      quod veniam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad exercitationem impedit necessitatibus non provident
      quod repudiandae, vel voluptatum? Ab architecto distinctio dolorem, expedita facilis iusto magnam officia quasi
      quod veniam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad exercitationem impedit necessitatibus non provident
      quod repudiandae, vel voluptatum? Ab architecto distinctio dolorem, expedita facilis iusto magnam officia quasi
      quod veniam?</p>
  </div>
  <app-button [buttonConfig]="buttonBack"></app-button>
</div>
